/* Общие стили */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
  color: #333;
}

header {
  background-color: #ff5733;
  color: white;
  padding: 20px;
  text-align: center;
}

.menu {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.menu li {
  margin: 0 15px;
}

.menu a {
  text-decoration: none;
  color: white;
}

section {
  padding: 20px;
  text-align: center;
}

.contact-button {
  background-color: #ff5733;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
}

/* Интерактивное поведение */
.menu a:hover,
.contact-button:hover {
  background-color: white;
  color: #ff5733;
  transition: 0.3s;
}
